<footer class="container-fluid">
    <div class="row bg-dgblue">
        <div class="col">
            <p class="text-white text-center my-2">
                <a href="{% url 'contact' %}">
                    <span class="text-white">Contact</span>
                </a>
                <span class="text-white"> | </span>
                <a href="{% url 'delivery' %}">
                    <span class="text-white">Delivery</span>
                </a>
                <span class="text-white"> | </span>
                <a href="{% url 'about' %}">
                    <span class="text-white">About Us</span>
                </a>
            </p>
        </div>
    </div>
</footer>