{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Bathrooms</h2>
            <p>Come and visit our showroom or select an option below</p>
        </div>
    </div>
</div>

<!-- Page Cards -->
<div class="container mt-2">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 py-2">
            <div class="card">
                <img class="card-img-top" src="{{ MEDIA_URL }}/website/card-home-bathroom.jpg" alt="bathroom card image">
                <div class="card-body text-center">
                    <a href="{% url 'products' %}?shop_filter=bathroom" class="btn btn-outline-dg w-85"><strong>All Bathroom</strong></a>
                </div>
            </div>
        </div>
        {% for product in products_for_cards %}
            <div class="col-sm-12 col-md-6 col-lg-3 py-2">
                <div class="card">
                    <img class="card-img-top" src="{{ MEDIA_URL }}{{ product.brand }}/{{ product.image_url }}" alt="all bathroom card image">
                    <div class="card-body text-center">
                        <a href="{% url 'products' %}?shop_filter=bathroom&category={{ product.category.name }}" class="btn btn-outline-dg w-85"><strong>{{ product.category.name }}</strong></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}