{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
    </div>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>About Us:</h2>
                <p>Welcome to Donegal Plumbing & Heating Supplies Ltd</p>
                <p>Donegal Plumbing & Heating Supplies Ltd is a family run business established since 1983. We have a very experienced and knowledgeable staff who will guide you with all your queries from tiles and bathrooms to stoves, to plumbing and Heating and solar.</p>
                <p>For woodburning and multifuel stoves and cookers – boiler or non boiler you’ve come to the right place, we have a large range of stoves from a variety of manufacturers in stock. We are HETAS qualified and can advise you on any queries you may have on how to fit your flue for your stove in a safe way.</p>
                <p>We have an extensive Tile and Bathroom showroom on our premises, stocking everything from the traditional to the modern and due to our large range of tiles, bathroom furniture,bathroom suites,baths,showers and shower doors etc, we feel we will be able to satisfy all of your bathroom requirements in one visit.</p>
                <p>Come and view our showroom open from 9.00am to 6.00pm Mon-Fri. Closed for lunch 1.00-2.00pm</p>
                <p>open Saturday 9.00am to 1.00pm.</p>
            </div>
        </div>
    </div>
{% endblock %}